<link rel="stylesheet" href="navigation.css">
<nav role="navigation">
    <a href=""><span>SVMPLE</span></a>
    <a href=""><span>TXXXT</span></a>
    <a href=""><span>SVMPLE</span></a>
    <a href=""><span>TXXXT</span></a>
    <a href=""><span>SVMPLE</span></a>
</nav>