@media screen and (max-width: 62.5em/*1000px*/) {
    nav[role="navigation"] {
      /*use unset as a drop-in solution, requiers restyling*/
      /*all:unset;*/
      text-align:center;
  }  
    a span {display: block;} 
}